<!-- <nav class="navbar navbar-expand-lg navbar-light"
  style="background-image: linear-gradient(to right top, #4b668e, #475d8c, #47538a, #4a4985, #4f3d7f);">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AnimeRoom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pank" routerLink="/aboutus">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<iframe src="https://zoro.to/" title="Gaming Company" width="100%" height="450px"></iframe> -->

<div class="image-section">
  <img src="/assets/onepiece.jpg">
</div>
<iframe allowtransparency="true" src="/assets/kaido.mp4"
  title="Gaming Company" width="100%" height="93%" autoplay>
</iframe>

		<div class="image-section-1">
			<img src="/assets/mariobackground.jpg">
		</div>
    <div class="footer">
      <div class="row">
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-title>Contact Us</mat-card-title>
    
            <mat-card-content>
    
              <p>
                Info@mysite.com <br>
    
                Tel: 123-456-7890 <br>
    
                500 Terry Francois St <br>
    
                San Francisco, CA 94158 <br>
                <br>
                <br>
              </p>
            </mat-card-content>
    
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-title>Navigation</mat-card-title>
    
            <mat-card-content>
    
              <p>Games <br>
    
                Careers <br>
    
                About <br>
    
                Contact <br>
    
                Privacy Policy <br>
    
                Terms & Conditions
              </p>
            </mat-card-content>
    
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-title>Social</mat-card-title>
    
            <mat-card-content>
    
              <p>
                Discord <br>
    
                Twitch <br>
    
                Facebook <br>
    
                YouTube <br>
    
                Twitter <br>
    
                LinkedIn
              </p>
            </mat-card-content>
    
          </mat-card>
        </div>
      </div><br>
      <div align="center">© 2023__Proudly created by pankajgurav</div>
    </div>
